.footer__column-link {
    color: white;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: 5s linear ease;
    opacity: 1;
}

.footer__column-link:hover {
    opacity: 0.2;
}