/*8 вложенных блоков*/
.table__cell {
    display: flex;
    margin: 0;
    max-width: 250px;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    flex: 0 0 250px;
    align-items: stretch;
}