.oakley {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: #f2f2f2;
    margin: 0;
    padding-top: 160px;
    padding-bottom: 100px;
}