/*Блок научиться учиться*/
.header__title {
    margin: 0;
    margin-left: 64px;
    display: flex;
    max-width: 730px;
    justify-content: center;
    width: 100%;
    font-weight: 600;
    font-size: 102px;
    line-height: 96px;
    color: #1f1f1f;
    align-items: center;
    align-content: center;
    z-index: 2;
}