/*Принципы обучения*/
.section-title_theme_dark {
    margin-top: 90px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    width: 60%;
    align-items: center;
    align-content: center;
    font-weight: 600;
    font-size: 60px;
    line-height: 1.15;
    color: #f2f2f2;
    z-index: 2;
}